<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <button id="playButten" onclick='play(!uiData["playing"])'>></button>

    <button onclick="addToList(1)">add 1</button>
    <button onclick="addToList(2)">add 2</button>
    <button onclick="addToList(3)">add 3</button>

    <form method=post enctype=multipart/form-data action="/upload">
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="/static/socket.js"></script>
</body>
</html>